body {
    margin: 0;
    padding: 0;

}

main {
    padding: 16px;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0px;
    padding-left: 0px;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px;
    border-color: black;
}
